<div class="about-us color--white mt-60">
  <div fxLayout="row" fxLayoutAlign="center center">
    <span class="fs-16 color--primary text--bold">Who I am</span>
    <div class="ml-8">
      <mat-divider class="about-us__line"></mat-divider>
    </div>
  </div>

  <div class="text--center">
    <h3 class="fs-24 mt-20 mb-24">Get In Touch</h3>
    <div fxLayout="row" fxLayoutAlign="center">
      <span fxFlex="36" class="fs-16 line-height--24">
        I am available to work on your projects and bring your ideas to life. I am just a
        click away.
      </span>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between">
    <div class="mt-24" fxFlex="40">
      <div fxLayout="row" fxLayoutAlign="start center">
        <img width="100px" height="100px" src="../../../assets/images/map.svg" alt="location"/>
        <span class="ml-8">G.R.A Ikeja, Lagos</span>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center">
        <img width="100px" height="100px" src="../../../assets/images/email.svg" alt="location"/>
        <span class="ml-8">oluwakemiadeleke20@gmail.com</span>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center">
        <img width="100px" height="100px" src="../../../assets/images/phone.svg" alt="location"/>
        <span class="ml-8">+234-813-640-4552</span>
      </div>

      <div class="text--center mt-60">
        <button mat-flat-button color="primary" fxFlex="70"><span class='color--black'>Submit</span></button>
      </div>
    </div>

    <div fxFlex="60" class="mt-50">
      <div fxLayout="row" fxLayoutAlign="space-between">
        <mat-form-field fxFlex="48" appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="Enter your first name">
        </mat-form-field>

        <mat-form-field fxFlex="48" appearance="outline">
          <mat-label>Second Name</mat-label>
          <input matInput placeholder="Enter your second name">
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between">
        <mat-form-field fxFlex="48" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Enter your name">
        </mat-form-field>

        <mat-form-field fxFlex="48" appearance="outline">
          <mat-label>Phone Number</mat-label>
          <input matInput placeholder="Enter your phone number">
        </mat-form-field>
      </div>

      <mat-form-field fxFlexFill appearance="outline">
        <mat-label>Enter your message</mat-label>
        <textarea matInput class="text-area-input"></textarea>
      </mat-form-field>
    </div>
  </div>
</div>
