$my-palette: (
  50 : #e8ebf0,
  100 : #c5ced9,
  200 : #9eadc0,
  300 : #778ca6,
  400 : #5a7393,
  500 : #03DAC6,
  600 : #375278,
  700 : #2f486d,
  800 : #273f63,
  900 : #1a2e50,
  A100 : #8fb5ff,
  A200 : #5c93ff,
  A400 : #2972ff,
  A700 : #0f61ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

@use '@angular/material' as mat;
@include mat.core();

$my-profile-primary: mat.define-palette($my-palette);
$my-profile-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$my-profile-warn: mat.define-palette(mat.$red-palette);

$my-profile-theme: mat.define-light-theme((
  color: (
    primary: $my-profile-primary,
    accent: $my-profile-accent,
    warn: $my-profile-warn,
  )
));

@include mat.all-component-themes($my-profile-theme);
$primary: mat.get-color-from-palette($my-profile-primary);

//#03DAC6
